p {
	word-wrap: break-word
}

.clear-both {
	clear: both;
	margin-top: 7%;
}

.navbar-icon {
	padding: 10px 15px;
}

.navbar-icon a {
	display: block;
	float: right;
	height: 70px;
	line-height: 70px;
	margin-right: 50px;
	text-align: center;
}

.sidebar-basic-infos {
	list-style-type: none;
	padding: 10px 15px;
}

.sidebar-basic-infos li {
	margin: 0 4px 0 4px;
	text-align: center;
	padding-right: 4px;
}

.sidebar-basic-info {
	float: left;
	border-right-width: 1px;
	border-right-style: solid;
}

.tab-form {
	margin-top: 2%;
}

#messenger .popover {
	position: absolute;
	display: block;
	top: 10px;
	right: 20px;
	bottom: auto;
	left: auto;
}

#whisperMiniBox {
	position: fixed;
	right: 20px;
	bottom: 0px;
	top: auto;
	padding: 5px;
	width: 10%;
	color: white;
	background-color: gray;
}

#whisperBox {
	position: fixed;
	right: 20px;
	bottom: 0;
	top: auto;
	left: auto;
	width: 500px;
	height: 460px;
	background-color: white;
}

.whisperMessageBox {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 200px;
}

#whisper .tab-content hr {
	margin-top: 0;
	border-width: 2px;
}

.popover-title button {
	margin-left: 3px;
}

#whisperBox ul {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 200px;
}

#whisperBox .popover {
	position: relative;
	display: block;
}

.whisperMessageContent {
	word-wrap: break-word;
}